/* You can add global styles to this file, and also import other style files */

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
$primary: #24273A;
@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/Helvetica.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/helvetica-light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/Helvetica-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/helvetica-rounded-bold.otf");
    font-weight: 800;
}

$font-name: 'Helvetica';
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-name;
}

.mat-form-field,
.mat-select {
    font-family: $font-name;
}

.l-0 {
    left: 0;
}

.b-0 {
    bottom: 0;
}

.primary-bg {
    background-color: $primary;
}

.primary-color {
    color: $primary;
}

.highlight-color {
    color: #EA4855;
    &:hover {
        color: $primary;
    }
}

.font-9 {
    font-size: 0.9em;
}

.font-8 {
    font-size: 0.8em;
}

.transition {
    transition: all 0.5s;
}

.no_style {
    .mat-form-field-flex {
        background: transparent;
    }
    &.mat-form-field-appearance-fill .mat-form-field-underline::before,
    .mat-form-field-ripple {
        background: transparent !important;
    }
    .mat-select-value {
        color: #fff;
    }
    &.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: none;
    }
    .mat-select-arrow {
        color: #fff !important;
        border: 0;
        width: auto;
        height: auto;
        &:before {
            content: "keyboard_arrow_down";
            font-family: 'Material Icons';
        }
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: #dc3545;
    }
}

.no_style_input {
    &.mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #fff;
    }
    &.mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #dc3545;
    }
    &.mat-form-field.mat-focused .mat-form-field-label {
        color: #fff;
    }
    &.mat-form-field-appearance-legacy .mat-form-field-label {
        color: rgba(255, 255, 255, 0.54);
    }
}

.currency_section {
    background-color: #5A5C6B;
    box-shadow: inset 5px 3px 15px rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    max-width: 290px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.mw-80px {
    max-width: 80px;
}

.mat-drawer {
    width: 280px;
    max-height: 100vh;
    position: fixed !important;
}

.o-contain {
    object-fit: contain;
}

.platform_slider {
    .owl-stage-outer {
        padding-bottom: 2em;
        padding-top: 2em;
    }
    .active.center {
        transform: scale(1.1);
        >p {
            color: #EA4855 !important;
            font-size: 1.3em;
            margin-bottom: 0.5em;
        }
        // .border-gradient {
        //     background: transparent;
        // }
    }
}

.grey-bg {
    background: #454658;
}

.rounded_1 {
    border-radius: 1em;
}

.sidenav {
    max-height: calc(100vh - 120px);
    overflow: auto;
}

.mat-drawer-inner-container {
    height: auto !important;
}

.sidenav_logo {
    filter: brightness(0.5);
}

.navbar-header {
    .logo {
        max-width: 80px;
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        .logo {
            max-width: 55px;
        }
    }
}

@media (min-width: 1000px) {
    .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0
    }
}

.platform_slider .owl-nav [class*=owl-] {
    &.owl-prev {
        left: -27px;
    }
    &.owl-next {
        right: -27px;
    }
    &:hover {
        background: transparent;
    }
    background: transparent;
    font-size: 2em;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
}

.menu_icon {
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: 8px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 16px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
    }
    &.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 1px;
        left: -1px;
    }
    &.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    &.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 18px;
        left: -1px;
    }
}

.navigation {
    transform: translateX(200%);
    &.slideLeft {
        transform: translateX(0);
    }
    a {
        color: #fff;
        &:hover {
            color: #dc3545;
        }
    }
}

@media only screen and (max-width: 900px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tbody tr {
        padding: 2em 0 0.5em;
        &:first-child {
            box-shadow: none !important;
        }
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        &.font-bigger {
            &:before {
                font-size: 1.2em;
                font-weight: bold;
            }
        }
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        content: attr(data-label);
        float: left;
    }
    .transfer_from_logo {
        position: absolute !important;
        top: 0;
        left: 0;
        padding: 0.7em !important;
        right: 0;
        text-align: center;
        .xs-none {
            display: none;
        }
        &.vertical {
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            right: 0;
            left: auto;
            .mat-icon {
                background: -webkit-linear-gradient(#eee, #dc3545);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 3em;
                width: auto;
                height: auto;
            }
        }
    }
}

.link {
    .btn-gradient {
        background: linear-gradient(to bottom right, #EC9156, #D3545F);
        padding: 2px;
        &:hover {
            background: linear-gradient(to bottom right, #D3545F, #EC9156);
        }
        .mat-icon {
            background: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1em;
            color: $primary;
            z-index: 1;
        }
    }
    &.active {
        .btn-gradient {
            .mat-icon {
                background: linear-gradient(to bottom right, #EC9156, #D3545F);
                color: #fff;
            }
        }
    }
}

.w-50x {
    width: 50px;
}

.h-50x {
    height: 50px;
}

.path:not(:last-child):after {
    content: "";
    background: #ccc;
    position: absolute;
    top: 25px;
    height: 2px;
    width: 100%;
    left: 50%;
}

.outline-none {
    outline: none;
}

.gradient-text {
    background: -webkit-linear-gradient(#EC9156, #D3545F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-input {
    line-height: 22px;
    padding-left: 2.5em !important;
    border: 1px solid $primary;
}

.pointer {
    cursor: pointer;
}

.font_13 {
    font-size: 1.3em;
}

.t-0 {
    top: 0;
}

.overflow-visible {
    overflow: visible;
}

@media (max-width: 600px) {
    .left_title {
        font-size: 12px;
    }
}

mat-icon.mat-icon {
    height: 28px;
}