<div class="col-12 p-0 border-light-gradient">
    <div class="container px-0 px-md-3">
        <h1 class="font-weight-bold w-100 text-blue text-center mt-4 col-12 popup_title" [ngClass]="{'active': slideNumber === 1}">Search for Business</h1>
        <h1 class="font-weight-bold w-100 text-blue text-center mt-4 col-12 popup_title" [ngClass]="{'active': slideNumber === 2}">Search for Business</h1>
        <h1 class="font-weight-bold w-100 text-blue text-center mt-4 col-12 popup_title" [ngClass]="{'active': slideNumber === 3}">Confirm Ownership & Management Details</h1>
        <h1 class="font-weight-bold w-100 text-blue text-center mt-4 col-12 popup_title" [ngClass]="{'active': slideNumber === 4}">Help us to verify account faster</h1>
        <div class="d-flex pt-4 mb-5">
            <div class="w-100 text-center path position-relative" [ngClass]="{'completed': slideNumber > 1}">
                <a href="javascript:void(0)" class="text-decoration-none d-inline-block link" (click)="goto_next(0)" [ngClass]="{'active': slideNumber === 1}">
                    <span class="w-50x h-50x justify-content-center align-items-center rounded-circle d-inline-flex mb-3 btn-gradient">
                        <mat-icon class="">work</mat-icon>
                    </span>
                    <p class="text-dark-grey title font-9 m-0">Business Detail</p>
                </a>
            </div>
            <div class="w-100 text-center path position-relative d-none d-md-block" [ngClass]="{'completed': slideNumber > 2}">
                <a href="javascript:void(0)" class="text-decoration-none d-inline-block link" (click)="goto_next(1)" [ngClass]="{'active': slideNumber === 2}">
                    <span class="w-50x h-50x justify-content-center align-items-center rounded-circle d-inline-flex mb-3 btn-gradient">
                        <mat-icon class="text-indent-2">settings_suggest</mat-icon>
                    </span>
                    <p class="text-dark-grey title font-9 m-0">Business Activity</p>
                </a>
            </div>
            <div class="w-100 text-center path position-relative d-none d-md-block" [ngClass]="{'completed': slideNumber > 3}">
                <a href="javascript:void(0)" class="text-decoration-none d-inline-block link" (click)="goto_next(2)" [ngClass]="{'active': slideNumber === 3}">
                    <span class="w-50x h-50x justify-content-center align-items-center rounded-circle d-inline-flex mb-3 btn-gradient">
                        <mat-icon class="">groups</mat-icon>
                    </span>
                    <p class="text-dark-grey title font-9 m-0">Share holder / Director Details</p>
                </a>
            </div>
            <div class="w-100 text-center path position-relative d-none d-md-block">
                <a href="javascript:void(0)" class="text-decoration-none d-inline-block link" (click)="goto_next(3)" [ngClass]="{'active': slideNumber === 4}">
                    <span class="w-50x h-50x justify-content-center align-items-center rounded-circle d-inline-flex mb-3 btn-gradient">
                        <mat-icon class="">person</mat-icon>
                    </span>
                    <p class="text-dark-grey title font-9 m-0">Personal Details</p>
                </a>
            </div>
        </div>
        <div class="d-flex overflow-hidden col-lg-11 mx-auto px-0 px-md-3">
            <div class="position-relative col-12 w-100 transition row m-0 text-center px-0" [ngClass]="slideNumber === 1 ? 'h-100': 'height-0'" [ngStyle]="{'transform': leftValue}">
                <p class="w-100 text-dark-grey">Sole trader, free lancer or not registered with companies House ? Enter details here:
                </p>
                <div class="col-12 p-3 col-lg-10 mx-auto">
                    <span class="position-relative d-block">
                        <mat-form-field appearance="legacy" class="no_style_input w-100">
                            <mat-label class="font-9 shimmer">Search for Business</mat-label>
                                <span matPrefix><mat-icon [inline]="true" class="bg-transparent mr-2">search</mat-icon></span>
                    <input autocomplete="off" class="font-weight-bold font_13" matInput>
                    </mat-form-field>
                    </span>
                </div>
                <div class="col-12 row m-0 align-items-center mx-auto mt-4 mb-2 link active justify-content-center">
                    <a href="javascript:void(0)" class="mr-4 d-flex align-items-center text-decoration-none text-dark-grey">
                        <span class="font-9"><mat-icon [inline]="true">keyboard_arrow_left</mat-icon></span> Previous
                    </a>
                    <button type="button" (click)="goto_next(1)" class="btn border-0 d-inline-flex align-items-center transition justify-content-center font-weight-bold rounded-pill transition px-4 py-2 shadow-none outline-none">Continue
                        <mat-icon [inline]="true">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="position-relative col-12 w-100 transition row m-0 text-center px-0" [ngClass]="slideNumber === 2 ? 'h-100': 'height-0'" [ngStyle]="{'transform':leftValue}">
                <h3 class="w-100 text-dark-grey font-weight-bold">Business Overview</h3>
                <div class="col-12 p-3 col-lg-10 mx-auto text-dark-grey">
                    <div class="justify-content-center justify-content-md-start text-md-left text-center col-md-8 m-0 mb-4 mx-auto row">
                        <span class="col-md-4 col-sm-5 mx-auto px-0 px-md-3 mb-3 mb-md-0"><div class="align-items-center bg-light-orange d-flex h-100 h3 justify-content-center px-4 py-3 rounded_1 text-white">CL</div></span>
                        <div class="col-md-8 col-12 p-0">
                            <p class="text-uppercase h3">Cannyco ltd</p>
                            <p class="font-9 m-0">11374801-ltd</p>
                            <p class="font-9 m-0">1, Garden Terrace, Newcastle, England, NE40 4NG,.</p>
                        </div>
                    </div>
                    <div class="row m-0 justify-content-center">
                        <span class="d-sm-inline-flex d-block lh-30"><span class="mr-2">Not the right Business?</span>
                        <a href="javascript:void(0)" class="text-decoration-none transition" (click)="goto_back(2)">
                            <span class="primary-color font-9 shimmer">Search again</span>
                        </a>
                        </span>
                    </div>
                </div>
                <div class="col-12 row m-0 align-items-center mx-auto mt-4 mb-2 link active justify-content-center">
                    <a href="javascript:void(0)" (click)="goto_back(2)" class="mr-4 d-flex align-items-center text-decoration-none text-dark-grey">
                        <span class="font-9"><mat-icon [inline]="true">keyboard_arrow_left</mat-icon></span> Previous
                    </a>
                    <button type="button" (click)="goto_next(2)" class="btn border-0 d-inline-flex align-items-center transition justify-content-center font-weight-bold rounded-pill transition px-4 py-2 shadow-none outline-none">Continue
                        <mat-icon [inline]="true">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="position-relative col-12 w-100 transition row m-0 px-0" [ngClass]="slideNumber === 3 ? 'h-100': 'height-0'" [ngStyle]="{'transform':leftValue}">
                <perfect-scrollbar [autoPropagation]="true">
                    <div class="director_details">
                        <h3 class="w-100 text-dark-grey col-12 font-weight-bold mb-4">Director Details</h3>
                        <div class="col-12 row m-0 p-0 text-dark-grey mb-3">
                            <div class="col-md-6 row m-0 p-3 p-lg-0 mb-lg-4" *ngFor="let item of directors">
                                <span class="col-lg-4 px-0 px-lg-3 mb-3 mb-lg-0"><div class="align-items-center {{item.class}} d-flex h-100 h3 justify-content-center px-4 py-3 rounded_1 text-white">CL</div></span>
                                <div class="col-lg-8 col-12 p-0">
                                    <h6 class="font-weight-bold">{{item.name}}</h6>
                                    <p class="m-0 font-9">{{item.address}}</p>
                                    <p class="mb-2 font-9">{{item.zipcode}}</p>
                                    <mat-radio-group name="user_me" aria-label="Select an option" class="font-9" [(ngModel)]="item.me">
                                        <mat-radio-button value="true">Yes. This is me</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <h3 class="w-100 text-dark-grey col-12 font-weight-bold mb-4">UBO Details</h3>
                        <div class="col-12 row m-0 p-0 text-dark-grey">
                            <div class="col-md-6 row m-0 d-flex p-3 p-lg-0 mb-lg-4" *ngFor="let item of ubo">
                                <span class="col-lg-4 px-0 px-lg-3 mb-3 mb-lg-0"><div class="h-100 {{item.class}} px-4 py-3 text-white h2 d-flex align-items-center justify-content-center rounded_1">CL</div></span>
                                <div class="col-lg-8 col-12 p-0">
                                    <h6 class="font-weight-bold">{{item.name}}</h6>
                                    <p class="m-0 font-9">{{item.address}}</p>
                                    <p class="mb-2 font-9">{{item.zipcode}}</p>
                                    <mat-radio-group name="user_me" aria-label="Select an option" class="font-9" [(ngModel)]="item.me">
                                        <mat-radio-button value="true">Yes. This is me</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
                <div class="col-12 row m-0 align-items-center mx-auto mt-4 mb-2 link active justify-content-center">
                    <a href="javascript:void(0)" (click)="goto_back(3)" class="mr-4 d-flex align-items-center text-decoration-none text-dark-grey">
                        <span class="font-9"><mat-icon [inline]="true">keyboard_arrow_left</mat-icon></span> Previous
                    </a>
                    <button type="button" (click)="goto_next(3)" class="btn border-0 d-inline-flex align-items-center transition justify-content-center font-weight-bold rounded-pill transition px-4 py-2 shadow-none outline-none">Continue
                        <mat-icon [inline]="true">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="position-relative col-12 w-100 transition row m-0 px-0" [ngClass]="slideNumber === 4 ? 'h-100': 'height-0'" [ngStyle]="{'transform':leftValue}">
                <div class="col-12 p-0">
                    <p class="w-100 text-center text-dark-grey mb-4">Without this information we can't verify your account </p>
                </div>
                <div class="col-12 p-0">
                    <div class="col-12 col-md-6 mx-auto mb-3">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="- Category -" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="categoryFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let bank of filteredCategories | async" [value]="bank">
                                {{bank.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="col-12 col-md-6 mx-auto mb-4">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="- Subcategory -" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="categoryFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let bank of filteredCategories | async" [value]="bank">
                                {{bank.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <p class="w-100 text-center text-dark-grey mb-3">Do you have a website or social media link?</p>
                <div class="col-12 text-center my-3">
                    <mat-radio-group name="site" aria-label="Select an option" class="font-9">
                        <mat-radio-button value="true">Yes</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <p class="w-100 text-center text-dark-grey mb-4">This helps us get all the info we need to verify your account</p>
                <div class="col-12 row m-0 align-items-center mx-auto mt-4 mb-2 link active justify-content-center">
                    <a href="javascript:void(0)" (click)="goto_back(4)" class="mr-4 d-flex align-items-center text-decoration-none text-dark-grey">
                        <span class="font-9"><mat-icon [inline]="true">keyboard_arrow_left</mat-icon></span> Previous
                    </a>
                    <button type="button" (click)="goto_next('login')" class="btn border-0 d-inline-flex align-items-center transition justify-content-center font-weight-bold rounded-pill transition px-4 py-2 shadow-none outline-none">Continue
                        <mat-icon [inline]="true">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>