<!-- <nav class="navbar navbar-default position-fixed w-100 t-0 z-index-1">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand font-weight-bold h1 text-white" href="#">Canny</a>
        </div>
        <div class="ml-auto d-flex align-items-center">
            <span class="text-white d-inline-flex mw-80px">
                <mat-form-field appearance="fill" class="no_style w-100">
                    <mat-select class="text-white font-9 font-weight-bold" [(ngModel)]="selectedLanguage">
                        <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
            <span>
                <a href="javascript:void(0)" class="text-white"><mat-icon>segment</mat-icon></a>
            </span>
        </div>
    </div>
</nav> -->