.border-gradient:after {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: linear-gradient(to bottom right, #AF7C4E, #6b2d52);
    z-index: -1;
    border-radius: 10px;
}

.platform_logo {
    height: 22px;
}

.navigate_hover {
    &:hover {
        .mat-icon {
            transform: translateX(5px);
        }
    }
}

@media (min-width: 1000px) {
    .w-lg-20 {
        max-width: 20%;
    }
    .steps>div {
        &:not(:last-child):before {
            content: "keyboard_arrow_right";
            font-family: 'Material Icons';
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
            background: -webkit-linear-gradient(#eee, #dc3545);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .rounded_lg_1 {
        border-radius: 1em;
    }
    .transfer_table {
        tbody {
            th,
            td {
                &:not(:last-child):after {
                    content: "";
                    background: #636475;
                    position: absolute;
                    right: 0;
                    width: 1px;
                    height: 55%;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

.transfer_table {
    tbody {
        th,
        td {
            box-shadow: inset 0px 11px 10px -9px #aaabbd;
            position: relative;
        }
    }
}

.down_angle {
    transform: rotate(90deg);
    width: auto;
}

.up_angle {
    transform: rotate(270deg);
    width: auto;
}