<div class="row mx-0 pt-5 bg-gradient">
    <div class="row m-0 container mx-auto pt-5">
        <div class="row m-0 py-lg-5 w-100 align-items-center mb-5 mb-lg-0">
            <div class="col-md-6 col-12 pt-5 left_title">
                <h2 class="text-capitalize text-body fa-3x">Send money Abroad.</h2>
                <h1 class="font-weight-bold text-orange mb-4 fa-5x" style="height: 60px">
                    <div class="rw-words">
                        <span>Fastest</span><span>Cheapest</span><span>Best</span>
                    </div>
                </h1>
            </div>
            <div class="col-md-6 col-xl-4 col-lg-5 ml-auto mt-4 mt-md-0">
                <div class="col-12 px-4 pt-5 pt-sm-3 pb-4 currency_section text-center mx-auto">
                    <div class="row m-0">
                        <div class="col-md-4 col-5 p-0 mx-auto">
                            <img src="../../assets/{{selectedCurrencySend}}.png" alt="" class="flag-img">
                            <mat-form-field appearance="fill" class="no_style w-100">
                                <mat-select class="font-weight-bold" [(ngModel)]="selectedCurrencySend">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.icon">{{currency.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-7 mx-auto">
                            <mat-form-field appearance="legacy" class="no_style_input text-right w-100">
                                <mat-label class="font-9">You Send</mat-label>
                                <span matPrefix class="">$ &nbsp;</span>
                                <input autocomplete="off" class="font-weight-bold font_13" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="align-items-center col-12 justify-content-center mt-3 py-4 rotate_arrow">
                        <a href="javascript:void(0)" class="font_13 text-grey text-decoration-none mr-3" (click)="changeCurrency()">
                            <mat-icon class="text-orange fa-2x">arrow_right_alt</mat-icon>
                        </a>
                        <a href="javascript:void(0)" class="font_13 text-grey text-decoration-none" (click)="changeCurrency()">
                            <mat-icon class="text-orange fa-2x">arrow_right_alt</mat-icon>
                        </a>
                    </div>
                    <div class="row mx-0 mb-3">
                        <div class="col-md-4 col-5 p-0 mx-auto">
                            <img src="../../assets/{{selectedCurrencyReceive}}.png" alt="" class="flag-img">
                            <mat-form-field appearance="fill" class="no_style w-100">
                                <mat-select class=" font-weight-bold" [(ngModel)]="selectedCurrencyReceive">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let currency of currencies" [value]="currency.icon">{{currency.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-7 mx-auto">
                            <mat-form-field appearance="legacy" class="no_style_input text-right w-100">
                                <mat-label class="font-9">Recipient Gets</mat-label>
                                <span matPrefix class="">$ &nbsp;</span>
                                <input autocomplete="off" class=" font-weight-bold font_13" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="mt-2 mb-2 font-weight-bold d-inline-flex navigate_hover px-4 py-2 text-decoration-none transition align-items-center">Get Started <mat-icon class="transition ml-2">keyboard_arrow_right</mat-icon></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 m-0">
        <div class="container mx-auto">
            <div class="mx-auto">
                <owl-carousel-o [options]="customOptions" class="platform_slider">
                    <ng-template carouselSlide *ngFor="let item of platforms" [id]="item.id" class="py-5">
                        <p class="text-black text-center mb-1 font_13 font-weight-bold">{{item.type}}</p>
                        <a href="javascript:void(0)" mat-raised-button (click)="openDialog()" class="text-decoration-none text-white w-100">
                            <div class="p-4 light-white rounded_1 position-relative transition navigation_link">
                                <img [src]="item.src" [alt]="item.alt" [title]="item.title" class="mb-4 o-contain platform_logo mw-80px mx-auto">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-black font-9 mb-0 w-100">FX rate</p>
                                        <p class="text-dark-grey font-weight-bold w-100 font_13">$ {{item.fx_rate}}</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-black font-9 mb-0 w-100">Recipient Gets</p>
                                        <p class="text-dark-grey font-weight-bold w-100 font_13">$ {{item.reciepient_amount}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-black font-9 mb-0 w-100">Should Arrive By</p>
                                        <p class="text-dark-grey font-weight-bold w-100 font_13">{{item.day}}</p>
                                    </div>
                                </div>
                                <div class="col-12 p-0 text-center mb-3 font-weight-bold d-inline-flex align-items-center justify-content-center">
                                    <span class="navigate_hover px-4 py-2 d-inline-flex align-items-center">
                                        Transfer Now
                                        <mat-icon class="ml-2 transition">navigate_next</mat-icon>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="col-12 m-0">
        <div class="container mx-auto mb-3 mt-5">
            <!-- <perfect-scrollbar> -->
            <div class="table-responsive overflow-visible">
                <table class="table text-dark-grey rounded_lg_1 light-white transfer_table">
                    <thead class="">
                        <tr>
                            <th scope="col" class="gradient-text align-middle border-0 d-md-table-cell d-none px-3 py-4">
                                <span class="d-flex align-items-center mt-2 mt-lg-0">
                                        <span>FX Rate</span>
                                <mat-icon class="ml-2 transition highlight-color">keyboard_arrow_up</mat-icon>
                                </span>
                            </th>
                            <th scope="col" class="gradient-text align-middle border-0 d-md-table-cell d-none px-3 py-4" style="width: 230px;">Transfer through</th>
                            <th scope="col" class="gradient-text align-middle border-0 d-md-table-cell d-none px-3 py-4 text-right">
                                <span class="d-flex align-item-center">
                                    <span class="d-lg-block d-none">
                                        <span class="border-bottom border-secondary pb-1">Fees</span>
                                <span class="d-flex justify-content-lg-end align-item-center mt-2"><mat-icon class="mr-2 transition highlight-color">keyboard_arrow_up</mat-icon>Commision</span>
                                </span>
                                </span>
                            </th>
                            <th scope="col" class="gradient-text align-middle border-0 d-md-table-cell d-none px-3 py-4">Should arrive by</th>
                            <th scope="col" class="gradient-text align-middle border-0 d-md-table-cell d-none px-3 py-4">Recipient gets</th>
                            <th class="border-0 d-md-table-cell d-none"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of platforms" class="transition pointer navigation_link" mat-raised-button (click)="openDialog()">
                            <td data-label="Fx Rate" scope="row" class="border-0 align-middle position-relative p-lg-4"><span class="font-bigger">{{item.fx_rate}}</span></td>
                            <td class="border-0 align-middle position-relative p-lg-4 transfer_from_logo">
                                <img [src]="item.src" [alt]="item.alt" [title]="item.title" class="o-contain platform_logo mx-auto">
                                <span class="ml-lg-5 d-block ml-md-4">{{item.content}}</span>
                            </td>
                            <td data-label="Recipient gets" class="border-0 align-middle position-relative d-md-none p-lg-4"><span class="font-bigger">${{item.reciepient_amount}}</span></td>
                            <td data-label="Commision Fees" class="border-0 align-middle position-relative text-md-right p-lg-4">
                                <span class="d-md-block d-none">
                                    <span class="border-bottom border-secondary pb-1">{{item.reciepient_percentage}}</span>
                                <span class="d-flex justify-content-md-end align-item-center mt-2">
                                        {{item.commision_percentage}}%
                                    </span>
                                </span>
                                <span class="d-block d-md-none">
                                    {{item.reciepient_percentage}} / {{item.commision_percentage}}%
                                </span>
                            </td>
                            <td data-label="Should arrive by" class="border-0 align-middle position-relative p-lg-4">{{item.day}}</td>
                            <td data-label="Recipient gets" class="border-0 align-middle position-relative d-none d-md-table-cell p-lg-4"><span class="font-bigger">${{item.reciepient_amount}}</span></td>
                            <td class="border-0 align-middle position-relative p-lg-4 vertical transfer_from_logo">
                                <span class="d-inline-flex font-weight-bold align-items-center navigate_hover px-md-3 py-md-2">
                                    <span class="xs-none">Transfer Now</span>
                                <mat-icon class="ml-md-2 transition">navigate_next</mat-icon>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- </perfect-scrollbar> -->
        </div>
    </div>
    <div class="col-12 mb-5 mt-4">
        <div class="container mx-auto mb-3 mt-5">
            <h1 class="text-center mb-5 text-white font-weight-bold fa-4x"><span class="text-blue font-weight-bold">5 Easy</span> Steps</h1>
            <div class="row col-md-11 mx-auto m-0 text-black steps">
                <div class="w-lg-20 p-3 col-12 col-sm-6 mx-auto text-center position-relative animated" animateOnScroll animationName="animate__fadeIn">
                    <div class="light-white row m-0 align-items-center justify-content-center p-4 h-100 rounded_1">
                        <p class="mb-3 w-100">
                            <img src="../../assets/dollar.svg" alt="" width="40" />
                        </p>
                        <p class="m-0">Enter an amount to send</p>
                    </div>
                </div>
                <div class="w-lg-20 p-3 col-12 col-sm-6 mx-auto text-center position-relative animated" animateOnScroll animationName="animate__fadeIn">
                    <div class="light-white row m-0 align-items-center justify-content-center p-4 h-100 rounded_1">
                        <p class="mb-3 w-100">
                            <img src="../../assets/rating.svg" alt="" width="40" />
                        </p>
                        <p class="m-0">Choose the best provider</p>
                    </div>
                </div>
                <div class="w-lg-20 p-3 col-12 col-sm-6 mx-auto text-center position-relative animated" animateOnScroll animationName="animate__fadeIn">
                    <div class="light-white row m-0 align-items-center justify-content-center p-4 h-100 rounded_1">
                        <p class="mb-3 w-100">
                            <img src="../../assets/add.svg" alt="" width="40" />
                        </p>
                        <p class="m-0">Add recipient details</p>
                    </div>
                </div>
                <div class="w-lg-20 p-3 col-12 col-sm-6 mx-auto text-center position-relative animated" animateOnScroll animationName="animate__fadeIn">
                    <div class="light-white row m-0 align-items-center justify-content-center p-4 h-100 rounded_1">
                        <p class="mb-3 w-100">
                            <img src="../../assets/user.svg" alt="" width="40" />
                        </p>
                        <p class="m-0">Verify your identity or Unique Identifier</p>
                    </div>
                </div>
                <div class="w-lg-20 p-3 col-12 col-sm-6 mx-auto text-center position-relative animated" animateOnScroll animationName="animate__fadeIn">
                    <div class="light-white row m-0 align-items-center justify-content-center p-4 h-100 rounded_1">
                        <p class="mb-3 w-100">
                            <img src="../../assets/credit-card.svg" alt="" width="40" />
                        </p>
                        <p class="m-0">Pay for Transfer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 light-white">
        <div class="container text-dark-grey p-3">
            <div class="row m-0 p-2 h-100">
                <div class="col-lg-3 col-md-4 text-center p-3">
                    <img src="../assets/logo.png" alt="" class="mr-2 logo">
                </div>
                <div class="col-md-4 p-3">
                    <p class="m-0">Canny is the trading name of The Canny Technology Company Ltd , having registered office at Level 37, One Canada Square, Canary Wharf London, England, E14 5AA. Incorporated under the laws of England and Wales with company number 12673108.
                    </p>
                </div>
                <div class="col-md-3 p-3">
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#top" class="text-decoration-none text-blue transition d-inline-flex">Home</a>
                        </li>
                        <li class="mb-1"><a href="" class="text-decoration-none text-blue transition d-inline-flex">Privacy Policy</a>
                        </li>
                        <li class="mb-1"><a href="" class="text-decoration-none text-blue transition d-inline-flex">Cookie
                                Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>